Repository OriginProtocol/origin-dollar, pull requests merged in 2023-09, with the labels that each got.

#1695 AMO peg keeping
  brownie/abi/oeth_meta_strat.json
  brownie/world.py
  contracts/contracts/mocks/MockVault.sol
  contracts/contracts/strategies/ConvexEthMetaStrategy.sol
  contracts/contracts/strategies/README.md
  contracts/contracts/vault/VaultAdmin.sol
  contracts/contracts/vault/VaultCore.sol
  contracts/contracts/vault/VaultInitializer.sol
  contracts/deploy/075_oeth_amo_upgrade.js
  contracts/dev.env
  contracts/docs/ConvexEthMetaStrategyHierarchy.svg
  contracts/docs/ConvexEthMetaStrategySquashed.svg
  contracts/docs/ConvexEthMetaStrategyStorage.svg
  contracts/docs/OETHVaultAdminSquashed.svg
  contracts/docs/OETHVaultCoreSquashed.svg
  contracts/docs/OETHVaultHierarchy.svg
  contracts/docs/VaultAdminSquashed.svg
  contracts/docs/VaultCoreSquashed.svg
  contracts/docs/VaultHierarchy.svg
  contracts/docs/generate.sh
  contracts/docs/plantuml/oethContracts.png
  contracts/docs/plantuml/oethContracts.puml
  contracts/docs/plantuml/oethValueFlows-amo-peg-keeping.png
  contracts/docs/plantuml/oethValueFlows-amo.png
  contracts/docs/plantuml/oethValueFlows.png
  contracts/docs/plantuml/oethValueFlows.puml
  contracts/fork-test.sh
  contracts/tasks/amoStrategy.js
  contracts/tasks/block.js
  contracts/tasks/curve.js
  contracts/tasks/proxy.js
  contracts/tasks/tasks.js
  contracts/test/_fixture.js
  contracts/test/_metastrategies-fixtures.js
  contracts/test/helpers.js
  contracts/test/strategies/oeth-metapool.fork-test.js
  contracts/test/strategies/ousd-metapool-3crv-tilted-pool.fork-test.js
  contracts/test/strategies/ousd-metapool-balanced-pool.fork-test.js
  contracts/test/strategies/ousd-metapool-ousd-tilted-pool.fork-test.js
  contracts/test/vault/collateral-swaps.fork-test.js
  contracts/test/vault/oeth-vault.fork-test.js
  contracts/utils/1Inch.js
  contracts/utils/addresses.js
  contracts/utils/units.js
Labels: contracts, OETH

#1697 Balancer MetaStablePool Strategy
  brownie/abi/balancerUserData.json
  brownie/abi/balancer_booster.json
  brownie/abi/balancer_strat.json
  brownie/abi/wsteth.json
  brownie/addresses.py
  brownie/balancer_check_balance_test.py
  brownie/balancer_deposit_withdrawal_test.py
  brownie/world.py
  contracts/contracts/governance/Governable.sol
  contracts/contracts/interfaces/IRETH.sol
  contracts/contracts/interfaces/IWstETH.sol
  contracts/contracts/interfaces/balancer/IBalancerVault.sol
  contracts/contracts/interfaces/balancer/IMetaStablePool.sol
  contracts/contracts/interfaces/balancer/IRateProvider.sol
  contracts/contracts/mocks/MockEvilReentrantContract.sol
  contracts/contracts/proxies/Proxies.sol
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
  contracts/contracts/strategies/balancer/BaseAuraStrategy.sol
  contracts/contracts/strategies/balancer/BaseBalancerStrategy.sol
  contracts/contracts/strategies/balancer/README.md
  contracts/contracts/strategies/balancer/VaultReentrancyLib.sol
  contracts/contracts/utils/BalancerErrors.sol
  contracts/contracts/utils/Initializable.sol
  contracts/contracts/utils/InitializableAbstractStrategy.sol
  contracts/contracts/utils/InitializableERC20Detailed.sol
  contracts/deploy/043_convexOUSDMeta.js
  contracts/deploy/071_balancer_rETH_WETH.js
  contracts/docs/BalancerMetaPoolStrategyHierarchy.svg
  contracts/docs/BalancerMetaPoolStrategySquashed.svg
  contracts/docs/BalancerMetaPoolStrategyStorage.svg
  contracts/docs/MorphoAaveStrategyHierarchy.svg
  contracts/docs/MorphoAaveStrategySquashed.svg
  contracts/docs/MorphoCompStrategyHierarchy.svg
  contracts/docs/MorphoCompStrategySquashed.svg
  contracts/docs/generate.sh
  contracts/docs/plantuml/oethContracts.puml
  contracts/tasks/amoStrategy.js
  contracts/test/_fixture.js
  contracts/test/helpers.js
  contracts/test/strategies/balancerMetaStablePool.fork-test.js
  contracts/test/strategies/balancerPoolReentrancy.fork-test.js
  contracts/utils/addresses.js
  contracts/utils/balancerStrategyDeployment.js
  contracts/utils/constants.js
  contracts/utils/funding.js
  contracts/utils/temporaryFork.js
Labels: contracts, OETH

#1829 fix OETH AMO fork tests
  contracts/test/strategies/oeth-metapool.fork-test.js
Labels: OETH

#1822 Deploy 071 - Balancer RETH MetaStable pool strategy
  contracts/deploy/071_balancer_rETH_WETH.js
  contracts/deployments/mainnet/.migrations.json
  contracts/deployments/mainnet/BalancerMetaPoolStrategy.json
  contracts/deployments/mainnet/OETHBalancerMetaPoolrEthStrategyProxy.json
  contracts/deployments/mainnet/solcInputs/56b1a9e1aac6b14ff60c290b6cb34efd.json
  contracts/storageLayout/mainnet/BalancerMetaPoolStrategy.json
  contracts/storageLayout/mainnet/OETHBalancerMetaPoolrEthStrategyProxy.json
  contracts/utils/deploy.js
Labels: contracts
