Repository OriginProtocol/origin-dollar, pull requests merged in 2023-08, with the labels that each got.

#1724 Abstract strategy gas improvements (#1719)
  contracts/contracts/strategies/AaveStrategy.sol
  contracts/contracts/strategies/BaseConvexMetaStrategy.sol
  contracts/contracts/strategies/CompoundStrategy.sol
  contracts/contracts/strategies/ConvexEthMetaStrategy.sol
  contracts/contracts/strategies/ConvexGeneralizedMetaStrategy.sol
  contracts/contracts/strategies/ConvexOUSDMetaStrategy.sol
  contracts/contracts/strategies/ConvexStrategy.sol
  contracts/contracts/strategies/FraxETHStrategy.sol
  contracts/contracts/strategies/Generalized4626Strategy.sol
  contracts/contracts/strategies/MorphoAaveStrategy.sol
  contracts/contracts/strategies/MorphoCompoundStrategy.sol
  contracts/contracts/strategies/ThreePoolStrategy.sol
  contracts/contracts/utils/InitializableAbstractStrategy.sol
  contracts/deploy/001_core.js
  contracts/docs/AaveStrategyHierarchy.svg
  contracts/docs/AaveStrategySquashed.svg
  contracts/docs/AaveStrategyStorage.svg
  contracts/docs/CompStrategyHierarchy.svg
  contracts/docs/CompStrategySquashed.svg
  contracts/docs/CompStrategyStorage.svg
  contracts/docs/ConvexEthMetaStrategyHierarchy.svg
  contracts/docs/ConvexEthMetaStrategySquashed.svg
  contracts/docs/FraxETHStrategyHierarchy.svg
  contracts/docs/FraxETHStrategySquashed.svg
  contracts/docs/MorphoAaveStrategyHierarchy.svg
  contracts/docs/MorphoAaveStrategySquashed.svg
  contracts/docs/MorphoAaveStrategyStorage.svg
  contracts/docs/MorphoCompStrategyHierarchy.svg
  contracts/docs/MorphoCompStrategySquashed.svg
  contracts/docs/MorphoCompStrategyStorage.svg
  contracts/test/_fixture.js
Labels: contracts, OETH, OUSD

#1736 Remove rebase on mintForStrategy and burnForStrategy
  contracts/contracts/vault/VaultCore.sol
  contracts/contracts/vault/VaultStorage.sol
Labels: contracts, OETH, OUSD

#1747 Flux strategy review
  contracts/contracts/strategies/BaseCompoundStrategy.sol
  contracts/contracts/strategies/CompoundStrategy.sol
  contracts/docs/plantuml/ousdContracts.png
  contracts/docs/plantuml/ousdContracts.puml
  contracts/test/strategies/flux.fork-test.js
  contracts/test/vault/compound.js
  contracts/test/vault/oeth_vault.fork-test.js
  contracts/utils/addresses.js
Labels: contracts, OUSD

#1708 Add Flux strategy
  contracts/contracts/proxies/Proxies.sol
  contracts/contracts/strategies/BaseCompoundStrategy.sol
  contracts/contracts/strategies/CompoundStrategy.sol
  contracts/contracts/strategies/FluxStrategy.sol
  contracts/contracts/strategies/README.md
  contracts/deploy/070_flux_strategy.js
  contracts/docs/FluxStrategyHierarchy.svg
  contracts/docs/FluxStrategySquashed.svg
  contracts/docs/FluxStrategyStorage.svg
  contracts/docs/generate.sh
  contracts/docs/plantuml/ousdContracts.png
  contracts/docs/plantuml/ousdContracts.puml
  contracts/test/_fixture.js
  contracts/test/strategies/flux.fork-test.js
  contracts/test/vault/compound.js
  contracts/test/vault/oeth_vault.fork-test.js
  contracts/test/vault/vault.fork-test.js
  contracts/utils/addresses.js
Labels: contracts, OETH

#1741 Maker DSR strategy for OUSD
  .github/workflows/defi.yml
  contracts/contracts/proxies/Proxies.sol
  contracts/contracts/strategies/ConvexStrategy.sol
  contracts/contracts/strategies/FraxETHStrategy.sol
  contracts/contracts/strategies/Generalized4626Strategy.sol
  contracts/contracts/strategies/README.md
  contracts/contracts/utils/InitializableAbstractStrategy.sol
  contracts/contracts/utils/README.md
  contracts/deploy/001_core.js
  contracts/deploy/072_ousd_maker_dsr.js
  contracts/docs/FraxETHStrategyHierarchy.svg
  contracts/docs/FraxETHStrategySquashed.svg
  contracts/docs/Generalized4626StrategyHierarchy.svg
  contracts/docs/Generalized4626StrategySquashed.svg
  contracts/docs/Generalized4626StrategyStorage.svg
  contracts/docs/InitializableAbstractStrategyHierarchy.svg
  contracts/docs/InitializableAbstractStrategySquashed.svg
  contracts/docs/InitializableAbstractStrategyStorage.svg
  contracts/docs/InitializableERC20DetailedHierarchy.svg
  contracts/docs/InitializableERC20DetailedSquashed.svg
  contracts/docs/InitializableERC20DetailedStorage.svg
  contracts/docs/StableMathHierarchy.svg
  contracts/docs/StableMathSquashed.svg
  contracts/docs/generate.sh
  contracts/docs/plantuml/ousdContracts.png
  contracts/docs/plantuml/ousdContracts.puml
  contracts/test/_fixture.js
  contracts/test/abi/sDAI.json
  contracts/test/strategies/oeth-morpho-aave.fork-test.js
  contracts/test/strategies/ousd-maker-dsr.fork-test.js
  contracts/test/vault/redeem.js
  contracts/test/vault/vault.fork-test.js
  contracts/utils/addresses.js
Labels: contracts, OETH, OUSD

#1778 Update collateral swap script
  brownie/abi/vault_core.json
  brownie/abi/vault_core_w_swap_collateral.json
  brownie/collateralSwap.py
Labels: contracts, OUSD

#1779 Add frxETH price feed to OETH Oracle Router
  contracts/contracts/oracle/OracleRouter.sol
  contracts/deploy/074_upgrade_oeth_oracle_router.js
  contracts/docs/plantuml/oethOracles.png
  contracts/docs/plantuml/oethOracles.puml
  contracts/test/oracle/oracle.fork-test.js
  contracts/test/vault/oeth-vault.fork-test.js
Labels: contracts, OETH
