Repository OriginProtocol/origin-dollar, pull requests merged in 2023-06, with the labels that each got.

#1606 Update OETH value flow diagrams
  contracts/docs/plantuml/oethValueFlows-allocate.png
  contracts/docs/plantuml/oethValueFlows-amo.png
  contracts/docs/plantuml/oethValueFlows-deposit-eth.png
  contracts/docs/plantuml/oethValueFlows-frax-strat.png
  contracts/docs/plantuml/oethValueFlows-morpho-aave.png
  contracts/docs/plantuml/oethValueFlows-redeem.png
  contracts/docs/plantuml/oethValueFlows.png
  contracts/docs/plantuml/oethValueFlows.puml
Labels: documentation, contracts

#1627 Vault refactoring
  .github/workflows/defi.yml
  contracts/contracts/interfaces/IVault.sol
  contracts/contracts/vault/VaultAdmin.sol
  contracts/contracts/vault/VaultCore.sol
  contracts/contracts/vault/VaultInitializer.sol
  contracts/contracts/vault/VaultStorage.sol
  contracts/hardhat.config.js
  contracts/tasks/vault.js
  contracts/test/vault/compound.js
  contracts/test/vault/index.js
  contracts/test/vault/rebase.js
Labels: contracts

#1630 VS Code workspace settings
  .gitignore
  .vscode/settings.json
Labels: contracts

#1611 Support WETH in FraxETH strategy
  .github/workflows/defi.yml
  contracts/contracts/interfaces/IFraxETHMinter.sol
  contracts/contracts/mocks/MockFrxETHMinter.sol
  contracts/contracts/mocks/MockOracleRouter.sol
  contracts/contracts/mocks/MockOracleRouterNoStale.sol
  contracts/contracts/mocks/MocksfrxETH.sol
  contracts/contracts/oracle/OracleRouter.sol
  contracts/contracts/proxies/Proxies.sol
  contracts/contracts/strategies/FraxETHStrategy.sol
  contracts/contracts/strategies/Generalized4626Strategy.sol
  contracts/deploy/000_mock.js
  contracts/deploy/001_core.js
  contracts/deploy/065_upgrade_fraxeth_strategy.js
  contracts/test/_fixture.js
  contracts/test/helpers.js
  contracts/test/strategies/3pool-standalone.js
  contracts/test/strategies/3pool.js
  contracts/test/strategies/aave.js
  contracts/test/strategies/convex.js
  contracts/test/strategies/fraxeth.fork-test.js
  contracts/test/strategies/fraxeth.js
  contracts/test/strategies/generalized-meta.fork-test.js
  contracts/test/strategies/generalized-meta.js
  contracts/test/strategies/meta.js
  contracts/test/strategies/oeth-morpho-aave.fork-test.js
  contracts/test/vault/compound.js
  contracts/test/vault/harvester.js
  contracts/test/vault/redeem.js
  contracts/utils/addresses.js
  contracts/utils/funding.js
Labels: contracts

#1637 Vault Natspec
  contracts/contracts/governance/Governable.sol
  contracts/contracts/vault/VaultAdmin.sol
  contracts/contracts/vault/VaultCore.sol
  contracts/contracts/vault/VaultStorage.sol
Labels: documentation, contracts

#1645 remove unused code
  contracts/contracts/vault/VaultAdmin.sol
Labels: contracts

#1644 Deploy 67 - Updated OUSD vault value checker
  brownie/abi/OETHVaultValueChecker.json
  brownie/abi/vault_value_checker.json
  brownie/addresses.py
  brownie/allocations.py
  brownie/world.py
  contracts/deploy/057_drip_all.js
  contracts/deploy/067_ousd_vault_value_checker.js
  contracts/deployments/mainnet/.migrations.json
  contracts/deployments/mainnet/VaultValueChecker.json
  contracts/deployments/mainnet/solcInputs/3644db35f89e905253f68e4ac151f34b.json
  contracts/storageLayout/mainnet/VaultValueChecker.json
  dapp/network.mainnet.json
  dapp/prod.network.json
Labels: contracts, OUSD

#1656 CI and Contract Dev docs
  .github/workflows/defi.yml
  contracts/README.md
  contracts/fork-test.sh
  contracts/hardhat.config.js
Labels: documentation, contracts

#1660 First part of OETH to OGV governance deploy
  contracts/deployments/mainnet/.migrations.json
Labels: contracts

#1655 Deploy 66 - Upgrade OETH Vault with collateral swaps
  brownie/abi/vault_admin.json
  brownie/collateralSwap.py
  contracts/deploy/066_oeth_vault_swaps.js
  contracts/deployments/mainnet/.migrations.json
  contracts/deployments/mainnet/OETHVaultAdmin.json
  contracts/deployments/mainnet/OETHVaultCore.json
  contracts/deployments/mainnet/solcInputs/e08d4b98ef0bf7a625aa1659b6c5e4fc.json
  contracts/docs/plantuml/oethContracts.png
  contracts/docs/plantuml/oethContracts.puml
  contracts/package.json
  contracts/storageLayout/mainnet/OETHVaultAdmin.json
  contracts/storageLayout/mainnet/OETHVaultCore.json
  contracts/test/vault/oeth_vault.fork-test.js
  contracts/yarn.lock
  dapp-oeth/prod.network.json
  dapp/network.mainnet.json
  dapp/prod.network.json
Labels: contracts, OETH
