Repository OriginProtocol/origin-dollar, pull requests merged in 2023-07, with the labels that each got.

#1683 Fixed OETH Vault fork tests
  contracts/test/_fixture.js
  contracts/test/strategies/oeth-metapool.fork-test.js
  contracts/test/vault/oeth_vault.fork-test.js
Labels: contracts

#1678 Hardhat task refactor
  contracts/hardhat.config.js
  contracts/tasks/curve.js
  contracts/tasks/tasks.js
  contracts/test/_fixture.js
  contracts/test/abi/ousdMetapool.json
  contracts/test/helpers.js
  contracts/test/strategies/oeth-metapool.fork-test.js
  contracts/test/vault/oeth_vault.fork-test.js
  contracts/utils/addresses.js
  contracts/utils/assets.js
  contracts/utils/curve.js
  contracts/utils/signers.js
Labels: contracts

#1692 Brownie runlog for rETH swap
  brownie/runlogs/2023_07_strategist.py
Labels: contracts

#1696 Gas optimizations to the OETH AMO strategy
  CODEOWNERS
  brownie/runlogs/2023_07_strategist.py
  contracts/contracts/strategies/ConvexEthMetaStrategy.sol
  contracts/deploy/070_oeth_amo_upgrade.js
  contracts/fork-test.sh
  contracts/test/strategies/oeth-metapool.fork-test.js
  dapp-oeth/src/hooks/useSwapEstimator.js
Labels: contracts, OETH

#1705 Added ONEINCH_API env var
  .github/workflows/defi.yml
  contracts/test/_fixture.js
  contracts/test/vault/oeth-swapper.js
  contracts/test/vault/oeth_vault.fork-test.js
  contracts/utils/1Inch.js
Labels: contracts

#1710 Run log for 700 WETH AMO deposit
  brownie/runlogs/2023_07_strategist.py
Labels: contracts, OETH

#1712 Add Strategist runlog
  brownie/buyback.py
  brownie/runlogs/2023_07_strategist.py
Labels: contracts

#1702 Add July 17 runlog
  brownie/runlogs/2023_07_strategist.py
Labels: contracts

#1716 Refactor of Hardhat tasks
  contracts/package.json
  contracts/tasks/account.js
  contracts/tasks/block.js
  contracts/tasks/curve.js
  contracts/tasks/ousd.js
  contracts/tasks/smokeTest.js
  contracts/tasks/storageSlots.js
  contracts/tasks/tasks.js
  contracts/tasks/tokens.js
  contracts/tasks/valueChecker.js
  contracts/tasks/vault.js
  contracts/test/abi/oethMetapool.json
  contracts/utils/assets.js
  contracts/utils/regex.js
  contracts/utils/signers.js
  contracts/utils/txLogger.js
Labels: contracts

#1715 Run log for 260 WETH AMO Deposit
  brownie/runlogs/2023_07_strategist.py
Labels: contracts, OETH

#1719 Abstract strategy gas improvements
  contracts/contracts/strategies/AaveStrategy.sol
  contracts/contracts/strategies/BaseConvexMetaStrategy.sol
  contracts/contracts/strategies/CompoundStrategy.sol
  contracts/contracts/strategies/ConvexEthMetaStrategy.sol
  contracts/contracts/strategies/ConvexGeneralizedMetaStrategy.sol
  contracts/contracts/strategies/ConvexOUSDMetaStrategy.sol
  contracts/contracts/strategies/ConvexStrategy.sol
  contracts/contracts/strategies/FraxETHStrategy.sol
  contracts/contracts/strategies/Generalized4626Strategy.sol
  contracts/contracts/strategies/MorphoAaveStrategy.sol
  contracts/contracts/strategies/MorphoCompoundStrategy.sol
  contracts/contracts/strategies/ThreePoolStrategy.sol
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
  contracts/contracts/strategies/balancer/BaseAuraStrategy.sol
  contracts/contracts/strategies/balancer/BaseBalancerStrategy.sol
  contracts/contracts/utils/InitializableAbstractStrategy.sol
  contracts/deploy/000_mock.js
  contracts/deploy/001_core.js
  contracts/deploy/071_balancer_wstETH_WETH.js
  contracts/docs/AaveStrategyHierarchy.svg
  contracts/docs/AaveStrategySquashed.svg
  contracts/docs/AaveStrategyStorage.svg
  contracts/docs/BalancerMetaPoolStrategyHierarchy.svg
  contracts/docs/BalancerMetaPoolStrategySquashed.svg
  contracts/docs/BalancerMetaPoolStrategyStorage.svg
  contracts/docs/CompStrategyHierarchy.svg
  contracts/docs/CompStrategySquashed.svg
  contracts/docs/CompStrategyStorage.svg
  contracts/docs/ConvexEthMetaStrategyHierarchy.svg
  contracts/docs/ConvexEthMetaStrategySquashed.svg
  contracts/docs/FraxETHStrategyHierarchy.svg
  contracts/docs/FraxETHStrategySquashed.svg
  contracts/docs/MorphoAaveStrategyHierarchy.svg
  contracts/docs/MorphoAaveStrategySquashed.svg
  contracts/docs/MorphoAaveStrategyStorage.svg
  contracts/docs/MorphoCompStrategyHierarchy.svg
  contracts/docs/MorphoCompStrategySquashed.svg
  contracts/docs/MorphoCompStrategyStorage.svg
  contracts/test/_fixture.js
Labels: contracts, OETH, OUSD

#1718 Enabled js lint for deploy scripts
  contracts/deploy/000_mock.js
  contracts/deploy/001_core.js
  contracts/deploy/008_ousd_reset.js
  contracts/deploy/009_ousd_fix.js
  contracts/deploy/011_ousd_fix.js
  contracts/deploy/012_upgrades.js
  contracts/deploy/013_trustee.js
  contracts/deploy/014_3pool_strategy.js
  contracts/deploy/016_chainlink_and_buyback.js
  contracts/deploy/017_3pool_strategy_update.js
  contracts/deploy/018_upgrade_governor.js
  contracts/deploy/021_solidity_upgrade.js
  contracts/deploy/029_convex.js
  contracts/deploy/032_convex_rewards.js
  contracts/deploy/034_vault_value_checker.js
  contracts/deploy/035_reduce_collect_gas.js
  contracts/deploy/036_multiple_rewards_strategies.js
  contracts/deploy/037_dripper.js
  contracts/deploy/038_staking_patch.js
  contracts/deploy/039_wrapped_ousd.js
  contracts/deploy/040_vault_peg_check.js
  contracts/deploy/041_stop_buyback_swaps.js
  contracts/deploy/043_convexOUSDMeta.js
  contracts/deploy/044_morpho_strategy.js
  contracts/deploy/046_value_value_checker.js
  contracts/deploy/047_morpho_aave_strategy.js
  contracts/deploy/048_deposit_withdraw_tooling.js
  contracts/deploy/049_oeth_proxy.js
  contracts/deploy/050_woeth_proxy.js
  contracts/deploy/051_upgrade_buyback.js
  contracts/deploy/053_oeth.js
  contracts/deploy/054_woeth.js
  contracts/deploy/055_curve_amo.js
  contracts/deploy/056_oeth_zapper_again.js
  contracts/deploy/057_drip_all.js
  contracts/deploy/058_oeth_vault_value_checker.js
  contracts/deploy/061_oeth_timelock_part_1.js
  contracts/deploy/062_oeth_timelock_part_2.js
  contracts/deploy/067_ousd_vault_value_checker.js
  contracts/package.json
  contracts/test/vault/oeth_vault.fork-test.js
Labels: contracts

#1725 Add tests for wstETH/WETH Balancer pool
  contracts/contracts/proxies/Proxies.sol
  contracts/contracts/strategies/balancer/BaseBalancerStrategy.sol
  contracts/test/_fixture.js
  contracts/test/strategies/balancerMetaStablePool.fork-test.js
  contracts/utils/balancerStrategyDeployment.js
Labels: contracts
