Repository OriginProtocol/origin-dollar, pull requests merged in 2025-02, with the labels that each got.

#2364 Deployed 115 - OUSD YF Upgrade.
  contracts/deploy/mainnet/115_ousd_upgrade.js
  contracts/deployments/mainnet/.migrations.json
  contracts/deployments/mainnet/OUSD.json
  contracts/deployments/mainnet/solcInputs/78036f3322c6c6ae19c5f38c59bb1f45.json
  contracts/storageLayout/mainnet/OUSD.json
Labels: OUSD, deployment

#2386 Deploy SwapX sonic Yield Forward
  contracts/deploy/sonic/008_swapx_yield_forward.js
  contracts/deployments/sonic/.migrations.json
  contracts/deployments/sonic/operations/008_swapx_yield_forward.execute.json
  contracts/deployments/sonic/operations/008_swapx_yield_forward.schedule.json
  contracts/test/token/os.sonic.fork-test.js
  contracts/utils/addresses.js
  contracts/utils/deploy-l2.js
Labels: deployment

#2374 Deploy 116 - Upgrade OETH with Yield Forwarding.
  contracts/deploy/mainnet/116_oeth_upgrade.js
  contracts/deployments/mainnet/.migrations.json
  contracts/deployments/mainnet/OETH.json
  contracts/deployments/mainnet/solcInputs/8ab2c9195d635b2208bc6fd98797d51b.json
  contracts/storageLayout/mainnet/OETH.json
Labels: OETH, deployment

#2377 Deploy 122 - Yield Forwarding from Curve Pool.
  contracts/deploy/mainnet/122_delegate_yield_curve_pool.js
  contracts/utils/addresses.js
Labels: deployment

#2381 Deploy 108 - Upgrade OETH Vault
  contracts/deploy/mainnet/108_vault_upgrade.js
  contracts/deployments/mainnet/OETHVaultAdmin.json
  contracts/deployments/mainnet/OETHVaultCore.json
  contracts/deployments/mainnet/solcInputs/d65c724fbe63183a74cbc91813e255a1.json
  contracts/storageLayout/mainnet/OETHVaultAdmin.json
  contracts/storageLayout/mainnet/OETHVaultCore.json
Labels: deployment

#2391 [OETHb] Deploy 025 - Curve AMO
  contracts/deployments/base/.migrations.json
  contracts/deployments/base/BaseCurveAMOStrategy.json
  contracts/deployments/base/OETHBaseCurveAMOProxy.json
  contracts/deployments/base/operations/025_base_curve_amo.execute.json
  contracts/deployments/base/operations/025_base_curve_amo.schedule.json
  contracts/deployments/base/solcInputs/61d1375ecb47f54309b45f859a4348ef.json
  contracts/storageLayout/localhost/BaseCurveAMOStrategy.json
  contracts/storageLayout/localhost/OETHBaseCurveAMOProxy.json
Labels: deployment

#2387 Deploy 123 - Simple Harvester v2
  contracts/deploy/mainnet/123_simple_harvester_v2.js
  contracts/deployments/mainnet/.migrations.json
  contracts/deployments/mainnet/OETHHarvesterSimple.json
  contracts/deployments/mainnet/OETHSimpleHarvesterProxy.json
  contracts/deployments/mainnet/solcInputs/1a4540a671d50d17a736b05d22d3601b.json
  contracts/storageLayout/mainnet/OETHHarvesterSimple.json
  contracts/storageLayout/mainnet/OETHSimpleHarvesterProxy.json
Labels: OETH, deployment
