Repository OriginProtocol/origin-dollar, pull requests merged in 2025-04, with the labels that each got.

#2467 Deploy SwapX AMO contracts to Sonic
  contracts/deployments/sonic/.migrations.json
  contracts/deployments/sonic/OETHHarvesterSimple.json
  contracts/deployments/sonic/OSonicHarvesterProxy.json
  contracts/deployments/sonic/OSonicVaultAdmin.json
  contracts/deployments/sonic/OSonicVaultCore.json
  contracts/deployments/sonic/SonicSwapXAMOStrategy.json
  contracts/deployments/sonic/SonicSwapXAMOStrategyProxy.json
  contracts/deployments/sonic/operations/009_swapx_amo.execute.json
  contracts/deployments/sonic/operations/009_swapx_amo.schedule.json
  contracts/deployments/sonic/solcInputs/ea5866f942a7edcd1f4e3b18c390601e.json
  contracts/docs/plantuml/sonicContracts.png
  contracts/docs/plantuml/sonicContracts.puml
  contracts/storageLayout/sonic/OETHHarvesterSimple.json
  contracts/storageLayout/sonic/OSonicHarvesterProxy.json
  contracts/storageLayout/sonic/OSonicVaultAdmin.json
  contracts/storageLayout/sonic/OSonicVaultCore.json
  contracts/storageLayout/sonic/SonicSwapXAMOStrategy.json
  contracts/storageLayout/sonic/SonicSwapXAMOStrategyProxy.json
Labels: governance, deployment

#2469 Base deploy 027 to upgrade Curve AMO and Vault
  contracts/deploy/base/025_base_curve_amo.js
  contracts/deployments/base/.migrations.json
  contracts/deployments/base/BaseCurveAMOStrategy.json
  contracts/deployments/base/OETHBaseVaultAdmin.json
  contracts/deployments/base/OETHBaseVaultCore.json
  contracts/deployments/base/operations/027_base_curve_amo_upgrade.execute.json
  contracts/deployments/base/operations/027_base_curve_amo_upgrade.schedule.json
  contracts/deployments/base/solcInputs/ea5866f942a7edcd1f4e3b18c390601e.json
  contracts/storageLayout/localhost/OETHBaseVaultAdmin.json
  contracts/storageLayout/localhost/OETHBaseVaultCore.json
Labels: deployment

#2461 Update VoteMarket and CampaignRemoteManager addresses.
  contracts/deploy/mainnet/130_update_votemarket_addresses.js
  contracts/test/strategies/curvePoolBooster.mainnet.fork-test.js
  contracts/utils/addresses.js
Labels: governance

#2475 [OS] Deploy Sonic 017 - Metropolis PoolBooster
  contracts/deployments/sonic/.migrations.json
  contracts/deployments/sonic/PoolBoostCentralRegistry.json
  contracts/deployments/sonic/PoolBoosterFactoryMetropolis.json
  contracts/deployments/sonic/operations/017_pool_booster_metropolis.execute.json
  contracts/deployments/sonic/operations/017_pool_booster_metropolis.schedule.json
  contracts/deployments/sonic/solcInputs/8f8cde0d4f114ce913815df8ad8c422f.json
  contracts/storageLayout/sonic/PoolBoosterFactoryMetropolis.json
Labels: governance, deployment, OS

#2477 [OUSD] Deploy Mainnet 131 - OUSD AMO OUSD/USDC
  contracts/contracts/interfaces/IStrategy.sol
  contracts/deploy/mainnet/131_ousd_usdc_curve_amo.js
  contracts/deployments/mainnet/.migrations.json
  contracts/deployments/mainnet/CurveAMOStrategy.json
  contracts/deployments/mainnet/OUSDCurveAMOProxy.json
  contracts/deployments/mainnet/solcInputs/0a92a65f2124d74d93aa972496c23c18.json
  contracts/deployments/mainnet/solcInputs/aae063cb95e98eaf4bf115840bcc0655.json
  contracts/storageLayout/mainnet/CurveAMOStrategy.json
  contracts/storageLayout/mainnet/OUSDCurveAMOProxy.json
  contracts/test/behaviour/reward-tokens.fork.js
  contracts/test/behaviour/strategy.js
  contracts/test/poolBooster/metropolis-pool-booster.sonic.fork-test.js
  contracts/test/strategies/base/curve-amo.base.fork-test.js
  contracts/test/strategies/curve-amo-ousd.mainnet.fork-test.js
  contracts/test/vault/vault.mainnet.fork-test.js
  contracts/utils/addresses.js
Labels: governance, OUSD, deployment

#2480 Add managePassThrough script and update rollup configuration
  contracts/abi/passThrough.json
  contracts/scripts/defender-actions/managePassThrough.js
  contracts/scripts/defender-actions/rollup.config.cjs
  contracts/utils/addresses.js
  contracts/utils/managePassThrough.js
Labels: devops

#2479 [OS] Deploy some Pool Booster
  contracts/deploy/sonic/018_pool_booster_batch.js
  contracts/deployments/sonic/operations/018_pool_booster_batch.execute.json
  contracts/deployments/sonic/operations/018_pool_booster_batch.schedule.json
  contracts/utils/addresses.js
  contracts/utils/deploy.js
Labels: deployment, OS

#2481 [OS] Deploy MerklPoolBooster
  contracts/deployments/sonic/.migrations.json
  contracts/deployments/sonic/PoolBoostCentralRegistry.json
  contracts/deployments/sonic/PoolBoosterFactoryMerkl.json
  contracts/deployments/sonic/operations/018_merkl_pool_booster.execute.json
  contracts/deployments/sonic/operations/018_merkl_pool_booster.schedule.json
  contracts/deployments/sonic/solcInputs/097a34c4b26ae7ea6c9c55a20f5413b8.json
  contracts/storageLayout/sonic/PoolBoosterFactoryMerkl.json
Labels: deployment, OS
