Repository OriginProtocol/origin-dollar, changes with the owners that CODEOWNERS names for each.
All owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini, @DanielVF, @naddison36

CODEOWNERS:

/dapp @smitch88 @sparrowDom @shahthepro @rafaelugolini
/dapp-oeth @smitch88 @sparrowDom @shahthepro @rafaelugolini
/contracts @sparrowDom @DanielVF @naddison36 @shahthepro
/brownie @sparrowDom @DanielVF @naddison36 @shahthepro

Remove old echidna properties
  contracts/contracts/crytic/PropertiesOUSDTransferable.sol
  contracts/contracts/crytic/TestOUSDTransferable.sol
  contracts/contracts/crytic/TestOUSDTransferable.yaml
  contracts/contracts/crytic/interfaces.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Update Node script
  contracts/package.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Fix pricing
  dapp-oeth/src/components/buySell/SwapCurrencyPill.js
  dapp-oeth/src/components/buySell/SwapHomepage.js
  dapp-oeth/src/hooks/useSwapEstimator.js
  dapp-oeth/src/hooks/useTokenPrices.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

Cleanup
  dapp-oeth/src/hooks/useSwapEstimator.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

Prepare DApp for OUSD Vault upgrade
  contracts/contracts/interfaces/IVault.sol
  dapp/src/hooks/useSwapEstimator.js
  dapp/src/utils/contracts.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro, @smitch88, @rafaelugolini

Prepare DApp for OUSD Vault upgrade (#1789)
  contracts/contracts/interfaces/IVault.sol
  dapp/src/hooks/useSwapEstimator.js
  dapp/src/utils/contracts.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro, @smitch88, @rafaelugolini

Minor updates to Echidna
  contracts/contracts/echidna/EchidnaConfig.sol
  contracts/contracts/echidna/EchidnaTestSupply.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Changed asset order in OETHOracleRouter for better gas
  contracts/contracts/oracle/OracleRouter.sol
  contracts/test/oracle/oracle.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

L02 improve naming (#1783)
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix linter
  contracts/test/oracle/oracle.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

do a check that supported assets are being withdrawn (#1784)
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

set uint256 max instead of magic number (#1782)
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

remove unused files (#1785)
  contracts/contracts/interfaces/IERC20Details.sol
  contracts/contracts/strategies/balancer/BaseBalancerStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Deploy 052 - upgrade OUSD Vault and Harvester (#1767)
  contracts/contracts/interfaces/IVault.sol
  contracts/deploy/052_upgrade_ousd_vault_harvester.js
  contracts/deployments/mainnet/Harvester.json
  contracts/deployments/mainnet/OracleRouter.json
  contracts/deployments/mainnet/VaultAdmin.json
  contracts/deployments/mainnet/VaultCore.json
  contracts/deployments/mainnet/solcInputs/4b50676bca9e9a4e842de1d53a0040b0.json
  contracts/storageLayout/mainnet/Harvester.json
  contracts/storageLayout/mainnet/OracleRouter.json
  contracts/storageLayout/mainnet/VaultAdmin.json
  contracts/storageLayout/mainnet/VaultCore.json
  contracts/test/vault/vault.fork-test.js
  dapp/src/hooks/useSwapEstimator.js
  dapp/src/utils/contracts.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro, @smitch88, @rafaelugolini

Added 052_upgrade_ousd_vault_harvester migration time
  contracts/deployments/mainnet/.migrations.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Use oracles for price
  dapp-oeth/network.mainnet.json
  dapp-oeth/src/components/buySell/SwapCurrencyPill.js
  dapp-oeth/src/constants/contractAddresses.js
  dapp-oeth/src/hooks/useSwapEstimator.js
  dapp-oeth/src/hooks/useTokenPrices.js
  dapp-oeth/src/utils/contracts.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

Add contract
  dapp-oeth/src/hooks/useTokenPrices.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

contract guard
  dapp-oeth/src/hooks/useTokenPrices.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

Add in oracle router into cp artifacts
  contracts/package.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Added 052_upgrade_ousd_vault_harvester migration time (#1790)
  contracts/deployments/mainnet/.migrations.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

correct test name
  contracts/test/vault/index.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

change bptExpected to ignore Oracle prices and assume assets are always pegged. (Vault value checker shall be used to mitigate issues with said assumption)
  brownie/abi/balancer_strat.json
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
  contracts/contracts/strategies/balancer/BaseBalancerStrategy.sol
  contracts/test/strategies/balancerMetaStablePool.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix all the tests
  contracts/test/_fixture.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

correct test name (#1792)
  contracts/test/vault/index.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

feat: add dangerjs
  .github/workflows/danger.yml
  dangerfile.ts
  package.json
  yarn.lock
Owners: none

test: add .sol file to test
  Test.sol
Owners: none

refactor: better naming for the CI
  .github/workflows/danger.yml
Owners: none

fix: check all files
  dangerfile.ts
Owners: none

Tweak script
  brownie/collateralSwap.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Fix logs
  brownie/collateralSwap.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Fix Slippage
  brownie/collateralSwap.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix: check if review is approved
  dangerfile.ts
Owners: none

OUSD Collateral Swap runlog
  brownie/runlogs/2023_08_strategist.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

OUSD Collateral Swap runlog (#1794)
  brownie/runlogs/2023_08_strategist.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

refactor: delete test file
  Test.sol
Owners: none

Allow failure
  dapp-oeth/src/hooks/useTokenPrices.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini
