Repository OriginProtocol/origin-dollar, changes with the owners that CODEOWNERS names for each.
All owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini, @DanielVF, @naddison36

Deploy 070 - Flux strategy
  contracts/deployments/mainnet/FluxStrategy.json
  contracts/deployments/mainnet/FluxStrategyProxy.json
  contracts/deployments/mainnet/solcInputs/11207d24c21a3c709e67acc28c6491d2.json
  contracts/storageLayout/mainnet/FluxStrategy.json
  contracts/storageLayout/mainnet/FluxStrategyProxy.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Added Maker DSR to Harvester
  contracts/deploy/072_ousd_maker_dsr.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Gas optimization of rewards in abstract strategy
  contracts/contracts/utils/InitializableAbstractStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add Maker DSR strategy to OUSD contracts diagrams
  contracts/docs/plantuml/ousdContracts.png
  contracts/docs/plantuml/ousdContracts.puml
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add Flux strategy (#1708)
  contracts/contracts/proxies/Proxies.sol
  contracts/contracts/strategies/BaseCompoundStrategy.sol
  contracts/contracts/strategies/CompoundStrategy.sol
  contracts/contracts/strategies/FluxStrategy.sol
  contracts/contracts/strategies/README.md
  contracts/deploy/070_flux_strategy.js
  contracts/docs/FluxStrategyHierarchy.svg
  contracts/docs/FluxStrategySquashed.svg
  contracts/docs/FluxStrategyStorage.svg
  contracts/docs/generate.sh
  contracts/docs/plantuml/ousdContracts.png
  contracts/docs/plantuml/ousdContracts.puml
  contracts/test/_fixture.js
  contracts/test/strategies/flux.fork-test.js
  contracts/test/vault/compound.js
  contracts/test/vault/oeth_vault.fork-test.js
  contracts/test/vault/vault.fork-test.js
  contracts/utils/addresses.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add proposalId
  contracts/deploy/070_flux_strategy.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Skip the OUSD strategies check until the Flux and DSR proposals have executed
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Use new createFixtureLoader for Flux fork test
  contracts/test/_fixture.js
  contracts/test/strategies/flux.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

made deprecated storage variables private so they are not on the ABI
  contracts/contracts/strategies/ConvexStrategy.sol
  contracts/contracts/utils/InitializableAbstractStrategy.sol
  contracts/docs/Generalized4626StrategySquashed.svg
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix merge
  contracts/test/strategies/oeth-morpho-aave.fork-test.js
  contracts/test/strategies/ousd-maker-dsr.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Removed node 12 from CI Fixed Coverage report upload dependency
  .github/workflows/defi.yml
Owners: none

Fixed redeem unit test
  contracts/test/vault/redeem.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Maker DSR strategy for OUSD (#1741)
  .github/workflows/defi.yml
  contracts/contracts/proxies/Proxies.sol
  contracts/contracts/strategies/ConvexStrategy.sol
  contracts/contracts/strategies/FraxETHStrategy.sol
  contracts/contracts/strategies/Generalized4626Strategy.sol
  contracts/contracts/strategies/README.md
  contracts/contracts/utils/InitializableAbstractStrategy.sol
  contracts/contracts/utils/README.md
  contracts/deploy/001_core.js
  contracts/deploy/072_ousd_maker_dsr.js
  contracts/docs/FraxETHStrategyHierarchy.svg
  contracts/docs/FraxETHStrategySquashed.svg
  contracts/docs/Generalized4626StrategyHierarchy.svg
  contracts/docs/Generalized4626StrategySquashed.svg
  contracts/docs/Generalized4626StrategyStorage.svg
  contracts/docs/InitializableAbstractStrategyHierarchy.svg
  contracts/docs/InitializableAbstractStrategySquashed.svg
  contracts/docs/InitializableAbstractStrategyStorage.svg
  contracts/docs/InitializableERC20DetailedHierarchy.svg
  contracts/docs/InitializableERC20DetailedSquashed.svg
  contracts/docs/InitializableERC20DetailedStorage.svg
  contracts/docs/StableMathHierarchy.svg
  contracts/docs/StableMathSquashed.svg
  contracts/docs/generate.sh
  contracts/docs/plantuml/ousdContracts.png
  contracts/docs/plantuml/ousdContracts.puml
  contracts/test/_fixture.js
  contracts/test/abi/sDAI.json
  contracts/test/strategies/oeth-morpho-aave.fork-test.js
  contracts/test/strategies/ousd-maker-dsr.fork-test.js
  contracts/test/vault/redeem.js
  contracts/test/vault/vault.fork-test.js
  contracts/utils/addresses.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Deploy 070 - Add Flux Strategy (#1749)
  contracts/deploy/070_flux_strategy.js
  contracts/deployments/mainnet/FluxStrategy.json
  contracts/deployments/mainnet/FluxStrategyProxy.json
  contracts/deployments/mainnet/solcInputs/11207d24c21a3c709e67acc28c6491d2.json
  contracts/storageLayout/mainnet/FluxStrategy.json
  contracts/storageLayout/mainnet/FluxStrategyProxy.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Skip 070 Flux deploy as its proposal is still active
  contracts/deploy/070_flux_strategy.js
  contracts/deployments/mainnet/.migrations.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix re-entrancy test
  contracts/test/strategies/balancerPoolReentrancy.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

add more info for when fork tests are ran
  contracts/README.md
  contracts/fork-test.sh
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Deploy Maker DSR Strategy
  contracts/deploy/072_ousd_maker_dsr.js
  contracts/deployments/mainnet/Generalized4626Strategy.json
  contracts/deployments/mainnet/MakerDsrStrategyProxy.json
  contracts/deployments/mainnet/solcInputs/5b3811a09678f3f195958692be915ae2.json
  contracts/storageLayout/mainnet/Generalized4626Strategy.json
  contracts/storageLayout/mainnet/MakerDsrStrategyProxy.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Fallback to BLOCK_NUMBER
  contracts/fork-test.sh
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Advance twice as much blocks
  contracts/utils/deploy.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Added Maker DSR proposal id
  contracts/deploy/070_flux_strategy.js
  contracts/deploy/072_ousd_maker_dsr.js
  contracts/deployments/mainnet/.migrations.json
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

set governance vars back to original values if deploy requires so
  contracts/utils/deploy.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

reset changes
  contracts/README.md
  contracts/fork-test.sh
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

add more info for when fork tests are ran (#1750)
  contracts/utils/deploy.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Prettier
  contracts/utils/deploy.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Moved the deploy AMO peg keeping files to 073
  contracts/deploy/073_oeth_amo_upgrade.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Prettier
  contracts/utils/deploy.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Prettier (#1753)
  contracts/utils/deploy.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Corrected migration times
  contracts/deployments/mainnet/.migrations.json
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Fix yield display
  dapp-oeth/src/components/layout.js
  dapp-oeth/src/utils/contracts.js
  dapp-oeth/src/utils/useExpectedYield.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

Remove animated balance
  dapp-oeth/src/utils/useExpectedYield.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

OETH Dapp: Pending Yield display issue (#1755)
  dapp-oeth/src/components/layout.js
  dapp-oeth/src/utils/contracts.js
  dapp-oeth/src/utils/useExpectedYield.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

fix how governor deploy times are adjusted
  contracts/deploy/057_drip_all.js
  contracts/fork-test.sh
  contracts/hardhat.config.js
  contracts/package.json
  contracts/test/strategies/flux.fork-test.js
  contracts/utils/deploy.js
  contracts/yarn.lock
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

undo onlyu
  contracts/test/strategies/flux.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Fork test env improvements (#1757)
  contracts/deploy/057_drip_all.js
  contracts/fork-test.sh
  contracts/hardhat.config.js
  contracts/package.json
  contracts/utils/deploy.js
  contracts/yarn.lock
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix typo
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

initial setup
  .gitignore
  contracts/.tenderly/cofig.yaml
  contracts/deploy/043_convexOUSDMeta.js
  contracts/deploy/052_upgrade_ousd_vault_harvester.js
  contracts/fork-test.sh
  contracts/hardhat.config.js
  contracts/package.json
  contracts/spawn-devnet.sh
  contracts/test/helpers.js
  contracts/test/strategies/flux.fork-test.js
  contracts/utils/deploy.js
  contracts/yarn.lock
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

add a bunch of test configuration to support tenderly devnets
  contracts/deploy/052_upgrade_ousd_vault_harvester.js
  contracts/deploy/057_drip_all.js
  contracts/deploy/072_ousd_maker_dsr.js
  contracts/hardhat.config.js
  contracts/test/_fixture.js
  contracts/test/helpers.js
  contracts/test/strategies/flux.fork-test.js
  contracts/utils/addresses.js
  contracts/utils/deploy.js
  contracts/utils/funding.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Deploy 072 - Add Maker DSR Strategy (#1751)
  contracts/deploy/070_flux_strategy.js
  contracts/deploy/072_ousd_maker_dsr.js
  contracts/deployments/mainnet/.migrations.json
  contracts/deployments/mainnet/Generalized4626Strategy.json
  contracts/deployments/mainnet/MakerDsrStrategyProxy.json
  contracts/deployments/mainnet/solcInputs/5b3811a09678f3f195958692be915ae2.json
  contracts/storageLayout/mainnet/Generalized4626Strategy.json
  contracts/storageLayout/mainnet/MakerDsrStrategyProxy.json
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix: edge case in improveMetapoolBalance modifier when the pool was exactly balanced chore: Natspec and comment updates
  contracts/contracts/strategies/ConvexEthMetaStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

CODEOWNERS:

/dapp @smitch88 @sparrowDom @shahthepro @rafaelugolini
/dapp-oeth @smitch88 @sparrowDom @shahthepro @rafaelugolini
/contracts @sparrowDom @DanielVF @naddison36 @shahthepro
/brownie @sparrowDom @DanielVF @naddison36 @shahthepro
