Repository OriginProtocol/origin-dollar, changes with the owners that CODEOWNERS names for each.
All owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini, @DanielVF, @naddison36

CODEOWNERS:

/dapp @smitch88 @sparrowDom @shahthepro @rafaelugolini
/dapp-oeth @smitch88 @sparrowDom @shahthepro @rafaelugolini
/contracts @sparrowDom @DanielVF @naddison36 @shahthepro
/brownie @sparrowDom @DanielVF @naddison36 @shahthepro

do not reduceQueueTime in last 073_disable_strategies deploy
  contracts/deploy/073_ousd_disable_stratgies.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add Maker DSR strategy to possible defaults for DAI
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Only do Swapper1InchV5 approvals if not already (#1770)
  contracts/deploy/052_upgrade_ousd_vault_harvester.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix build
  contracts/deploy/073_ousd_disable_stratgies.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add Maker DSR strategy to possible defaults for DAI
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add Maker DSR strategy to possible defaults for DAI
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add Maker DSR strategy to possible defaults for DAI (#1771)
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix build as OETH Metapool is imbalanced on mainnet
  contracts/test/strategies/oeth-metapool.fork-test.js
  contracts/test/vault/collateral-swaps.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Update OETH AMO fork tests
  contracts/test/strategies/oeth-metapool.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add proposal id to OUSD Vault upgrade
  contracts/deploy/052_upgrade_ousd_vault_harvester.js
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

fix 052 deploy script
  contracts/deploy/052_upgrade_ousd_vault_harvester.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

add script to test if more BPT is rewarded in Balancer when pool is tilted more
  brownie/balancerFavourableDepositTest.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

intermadiary commit
  contracts/test/_fixture_funding.js
  contracts/test/strategies/balancerMetaStablePool.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add Coin98 to supported wallets
  dapp/pages/_app.js
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

Upgrade wallet package
  dapp/package.json
  dapp/yarn.lock
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

Update README.md
  README.md
Owners: none

Upgrade wallet package dependencies
  dapp/package.json
  dapp/yarn.lock
Owners: @smitch88, @sparrowDom, @shahthepro, @rafaelugolini

improve comments
  contracts/contracts/strategies/balancer/BaseBalancerStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

add test that check balance total amount is not manipulatable with pool tilts
  brownie/balancer_check_balance_test.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

minor fixes
  brownie/balancer_check_balance_test.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Created OETH Oracle contracts diagram with frxETH
  contracts/docs/plantuml/oethOracles.png
  contracts/docs/plantuml/oethOracles.puml
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

prettier
  contracts/test/_fixture_funding.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

correct safe approve all tokens and adjust the documentation
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

simplify the way we withdrawAll. no need to pass along min amonts
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Update script
  brownie/abi/vault_core.json
  brownie/abi/vault_core_w_swap_collateral.json
  brownie/collateralSwap.py
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add frxETH price feed to OETH Oracle Router
  contracts/contracts/oracle/OracleRouter.sol
  contracts/deploy/074_upgrade_oeth_oracle_router.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

add tests for approving tokens and harvesting rewards
  contracts/test/_fixture.js
  contracts/test/strategies/balancerMetaStablePool.fork-test.js
  contracts/test/strategies/balancerPoolReentrancy.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

improve documentation
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
  contracts/contracts/strategies/balancer/BaseAuraStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

set uint256 max instead of magic number
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

improve naming
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

one more rename
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

do a check that supported assets are being withdrawn
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

buf fix
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

remove unused files
  contracts/contracts/interfaces/IERC20Details.sol
  contracts/contracts/strategies/balancer/BaseBalancerStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Improved OUSD AMO fork tests
  contracts/test/_metastrategies-fixtures.js
  contracts/test/strategies/ousd-metapool-3crv-tilted-pool.fork-test.js
  contracts/test/strategies/ousd-metapool-balanced-pool.fork-test.js
  contracts/test/strategies/ousd-metapool-ousd-tilted-pool.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Fix OUSD collateral swap fork test
  contracts/test/vault/collateral-swaps.fork-test.js
  contracts/utils/1Inch.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

gas optimisation
  contracts/contracts/strategies/balancer/BalancerMetaPoolStrategy.sol
  contracts/contracts/strategies/balancer/BaseBalancerStrategy.sol
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

temp fix to vault test as this will be fixed after the OUSD upgrade Adjusted Harvest of CRV test as the price has dropped
  contracts/test/strategies/oeth-metapool.fork-test.js
  contracts/test/vault/vault.fork-test.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Remove `readline.emitKeypressEvents` to fix problems with `npx hardhat console`
  contracts/tasks/smokeTest.js
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro

Add Echidna
  .gitignore
  contracts/contracts/echidna/Debugger.sol
  contracts/contracts/echidna/Echidna.sol
  contracts/contracts/echidna/EchidnaConfig.sol
  contracts/contracts/echidna/EchidnaDebug.sol
  contracts/contracts/echidna/EchidnaHelper.sol
  contracts/contracts/echidna/EchidnaSetup.sol
  contracts/contracts/echidna/EchidnaTestAccounting.sol
  contracts/contracts/echidna/EchidnaTestApproval.sol
  contracts/contracts/echidna/EchidnaTestMintBurn.sol
  contracts/contracts/echidna/EchidnaTestSupply.sol
  contracts/contracts/echidna/EchidnaTestTransfer.sol
  contracts/contracts/echidna/IHevm.sol
  contracts/contracts/echidna/OUSDEchidna.sol
  contracts/echidna-config.yaml
Owners: @sparrowDom, @DanielVF, @naddison36, @shahthepro
